@using static AspNetCoreArchTemplate.GCommon.ApplicationConstants
@model dynamic

<div class="col-md-6">
    <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid rounded shadow-sm" />
</div>


<div class="col-md-6 d-flex flex-column justify-content-start">
    <h2 class="mb-3">@Model.Name</h2>
    <p class="text-muted mb-4">@Model.Description</p>
    <h4 class="text-primary mb-4">$@Model.Price.ToString(PriceFormat)</h4>

    <form asp-controller="Order" asp-action="AddToCart" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Add to Cart</button>
    </form>
</div>