@using static AspNetCoreArchTemplate.GCommon.ApplicationConstants
@using AspNetCoreArchTemplate.Web.ViewModels.UserOrders
@model IEnumerable<UserOrderIndexViewModel>

@{
    ViewData["Title"] = "My Cart";
}

<h1>My Cart</h1>

@if (!Model.Any())
{
    <div class="alert alert-info">Your cart is empty.</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Item Type</th>
                <th>Name / Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemType</td>
                    <td>@item.ItemName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>
                        <form method="post" asp-page-handler="Remove" asp-route-orderItemId="@item.OrderItemId">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-end fw-bold">Cart Total:</td>
                <td class="fw-bold">
                    @Model.Sum(x => x.Total).ToString(PriceFormat)
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

}